<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- Coherence Cache Manager -->
	<bean id="coherenceCacheManager"
		class="org.cachemangements.springframework.coherence.cache.CoherenceFactoryBean">
		<constructor-arg value="classpath:coherence-test-client-cache-config.xml" />
	</bean>
	<!-- Spring Cache annotation to use Coherence cache manager -->
	<cache:annotation-driven cache-manager="coherenceCacheManager"/>
	
	<bean id="cacheableService" class="org.cachemangements.springframework.test.service.impl.CacheableServiceImpl"/>	

</beans>
